@import "../../../index.scss";

.details-img {
  border-radius: 8px;
  box-shadow: -2px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.details-title {
  font-weight: bold;
  font-size: 20px;
}

.details-price {
  font-weight: bold;
}

.details-quantity,
.details-desc {
  margin-top: 10px;
}

.details-desc {
  .desc-title {
    font-weight: bold;
    font-size: 15px;
  }
}

.details-quantity > span {
  color: black;
  margin-right: 15px;
  font-weight: bold;
  font-size: 14px;
}
.details-quantity .value-button {
  display: inline-flex;
  border: 0px solid #ddd;
  margin: 0px;
  width: 30px;
  height: 34px;
  justify-content: center;
  align-items: center;
  background: $main-color-orange;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
}

.details-quantity .value-button {
  border: 0px solid $main-color-orange;
  height: 26px;
  font-size: 20px;
  font-weight: bold;
}
.details-quantity input#number {
  text-align: center;
  border: none;
  border-top: 1px solid $main-color-orange;
  border-bottom: 1px solid $main-color-orange;
  margin: 0px;
  width: 50px;
  height: 30px;
  font-size: 14px;
  box-sizing: border-box;
}

.details-add-btn {
  margin-left: 0px;
  margin-bottom: 15px;
}

.details-add-btn .buy-btn {
  background-color: $main-color-orange;
  color: #fff;
}
.details-add-btn .btn {
  text-transform: capitalize;
  padding: 6px 20px;
  border-radius: 52px;
}
.details-add-btn .btn {
  margin: 0px 8px;
}

.back-btn {
  text-decoration: none;
  color: $main-color-orange;
  padding: 5px;
}

.back-btn:hover {
  text-decoration: none;
  color: $main-color-orange;
  font-weight: bold;
}
