@import "~bootstrap/scss/bootstrap";

//Variables
$main-color: #4c91ab;

@mixin headerFooterWrapper($height) {
  background-color: $main-color;
  height: $height;
  text-align: center;
  width: 100%;
}

@mixin headerFooterText($top, $fontSize) {
  top: $top;
  color: white;
  position: relative;
  font-weight: bold;
  font-size: $fontSize;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
